page-llamada {
    .pagina2{
        background:#0B0B61;
    }

    .img{
        width: 20%;
        position: relative;
        top: 90px; 
    }
    .msj{
        color: white;
        font-size: 24px;
        position: relative;
        top: 70px; 
    }
    .btn{
        width: 15%;
        position: relative;
        top: 70px;
        left: 550px;
    }
    .fin{
        width: 15%;
        position: relative;
        top: 100px;
        left: 545px;
    }
    .finllama{
        color: white;
        font-size: 22px;
        position: relative;
        top: 80px; 
    }
    .icono{
        color: red;
        
    }

}
