page-llamada {
    .pagina2{
        background:#0B0B61;
    }

    .msj{
        color: white;
        font-size: 22px;
        position: relative;
        top: 20px; 
    }
    .btn{
        position: relative;
        top:20px;
    }
    .fin{
        width: 65%;
        position: relative;
        top: 100px;
        left: 40px;
    }
    .finllama{
        color: white;
        font-size: 20px;
        position: relative;
        top: 100px; 
    }
    .icono{
        color: red;
        font-size: 45px;
        
    }

}
